<div class="card-container">
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button md-raised-button color="primary">Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div>

<hr>
bootstrap html
<hr>
    <div class="dropup">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropup
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>


  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">home home</div>
    <div role="tabpanel" class="tab-pane" id="profile">..profile profile.</div>
    <div role="tabpanel" class="tab-pane" id="messages">..messages messages.</div>
    <div role="tabpanel" class="tab-pane" id="settings">.settings settings.</div>
  </div>

</div>

<hr>
bootstrap html end
<hr>